@using My5Paisa.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@foreach (var message in SessionManager.Instance.Messages)
{
    <p>@message</p>
} 

<h2>Nifty 50</h2>
@foreach (var item in SecurityManager.Instance.GetNifty50)
{
    <p>@item.Scripcode : @item.Name : @item.FullName</p>
}